<section class="min-h-96 flex flex-1 shrink-0 items-center justify-center overflow-hidden rounded-lg  py-16  md:py-20 xl:py-48">
     
      <!-- text start -->
      <div class="flex flex-col items-center p-4 sm:max-w-xl">
        <p class="mb-4 text-center text-lg text-white sm:text-xl md:mb-8">For those who want to enjoy and sustain their morning routine, this one's for you!</p>
        <h1 class="mb-8 text-center text-4xl font-bold text-white sm:text-5xl md:mb-12 md:text-6xl">朝活を楽しく継続させたいあなたへ！！</h1>

        <div class="flex justify-center">
        <%= button_to (t 'tops.start_now'), guest_login_path, method: :post, class: "inline-block rounded-lg bg-indigo-500 px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-indigo-300 transition duration-100 hover:bg-indigo-600 focus-visible:ring active:bg-indigo-700 md:text-base" %>
      </div>
      
      </div>
      <!-- text end -->
    </section>
<!-- hero - end -->