<div class="bg-white lg:pb-12">
  <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
    <header class="flex items-center justify-between py-4 md:py-8">
    <!-- logo - start -->
    <%= link_to "/", class: "text-black-800 inline-flex items-center gap-2.5 text-2xl font-bold md:text-3xl", aria: { label: "logo" } do %>
      おはログ!!🌞
    <% end %>
      
    <!-- logo - end -->

      <!-- nav - start -->
      
      <!-- nav - end -->

      <!-- buttons - start -->
      <div class="text-right">
      <%= button_to (t 'defaults.guest_user'), guest_login_path, method: :post, class: "inline-block rounded-lg px-4 py-3 text-center text-sm font-semibold text-gray-500 outline-none ring-indigo-300 transition duration-100 hover:text-indigo-500 focus-visible:ring active:text-indigo-600 md:text-base" %>
      </div>
      <div class="text-right">
      <%= link_to (t 'defaults.login'), login_path, class: "inline-block rounded-lg px-4 py-3 text-center text-sm font-semibold text-gray-500 outline-none ring-indigo-300 transition duration-100 hover:text-indigo-500 focus-visible:ring active:text-indigo-600 md:text-base" %>&nbsp;&nbsp;
      <%= link_to (t 'defaults.sign_up'), new_user_path, class: "inline-block rounded-lg bg-indigo-500 px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-indigo-300 transition duration-100 hover:bg-indigo-600 focus-visible:ring active:bg-indigo-700 md:text-base" %>
      </div>
    

      <!-- buttons - end -->
    </header>

    
  </div>
</div>