<div class="bg-white pt-4 sm:pt-10 lg:pt-12">
  <footer class="mx-auto max-w-screen-2xl px-4 md:px-8">
    <div class="flex flex-col items-center border-t pt-6">
      <!-- nav - start -->
      <nav class="mb-4 flex flex-wrap justify-center gap-x-4 gap-y-2 md:justify-start md:gap-6">
      <%= link_to "利用規約", "#", class: "text-gray-500 transition duration-100 hover:text-indigo-500 active:text-indigo-600" %>
      <%= link_to "プライバシーポリシー", "#", class: "text-gray-500 transition duration-100 hover:text-indigo-500 active:text-indigo-600" %>
      <%= link_to "お問い合わせ", "#", class: "text-gray-500 transition duration-100 hover:text-indigo-500 active:text-indigo-600" %>
      </nav>
      <!-- nav - end -->

      <!-- social - start -->
     
      <!-- social - end -->
    </div>

    <div class="text-center text-sm text-gray-400">© 2023 - Present OhaLog. All rights reserved.</div>
  </footer>
</div>