<div class="flex flex-col items-center">
<%= render 'shared/error_messages', object: start_time_plan %>
</div>
<div class="flex flex-col items-center">
  <%= f.label :start_time, '~4:00~10:00の間で設定してください~' %>
</div>
<div class="flex flex-col items-center">
  <%= f.label :start_time, t('start_time_plans.title') %>
</div>
<div class="flex flex-col items-center">
  <%= f.time_field :start_time, class: 'form-control', min: '4:00', max: '10:00' %>
</div>