<span class="first">
<%= link_to_unless current_page.first?, raw(t 'views.pagination.first'), url, remote: remote, class: "px-3 py-2 border border-blue-300 bg-blue-200 rounded text-blue-700" %>
</span>
