<div class="badge badge-outline flex justify-end space-x-5">
    <div class="badge badge-outline text-2xl text-black"> <%= icon("solid", "pen") %></div>
    <div class="badge badge-outline text-2xl text-black">
        <%= button_to post_path(post), method: :delete, form: { data: { turbo_confirm: "削除しますか？" } } do %>
            <i class="fas fa-trash"></i>
        <% end %>     
    </div>
</div>
