<div class="card-actions justify-end">
    <div class="badge badge-outline">編集</div>
    <div class="badge badge-outline">
     <%= button_to '削除', post_path(post), method: :delete, data: { turbo: true, confirm: '削除しますか？' } %>
    </div>
</div>