<div class="card-actions justify-end">
    <div class="badge badge-outline"> <%= icon("solid", "pen") %> </div>
    <div class="badge badge-outline">
        <%= button_to post_path(post), method: :delete, data: { confirm: '削除しますか？' }, class: 'badge badge-outline' do %>
            <%= icon("solid", "trash") %> 
        <% end %>      
    </div>
</div>