<div class="card-actions justify-end">
    <div class="badge badge-outline">編集</div>
    <div class="badge badge-outline"><%= link_to '削除', post_path(post), data: { turbo_method: :delete, turbo_confirm: '削除しますか？' } %></div>
</div>