<!-- form - start -->
    <%= form_with model: @post, local: true do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
      
        <div class="flex flex-col items-center">
        <%= f.text_area :content, class:'inline-block rounded-lg bg-white px-10 py-12 text-center text-sm font-semibold text-black outline-none ring-indigo-300 transition duration-100 hover:bg-white focus-visible:ring active:bg-white md:text-base' %>
        </div>
        
        <div class="flex flex-col items-center mt-4">
          <%= f.submit  (t 'posts.create.post'), class: "inline-block rounded-lg bg-indigo-500 px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-indigo-300 transition duration-100 hover:bg-indigo-600 focus-visible:ring active:bg-indigo-700 md:text-base" %>
        </div>
      <% end %>
    <!-- form - end -->