<section class="w-full mt-14">
  <div class="container mx-auto px-4 h-full">
    <div class="flex content-center items-center justify-center h-full">
    <div class="hero-content flex-col">
    <div class="text-center my-4">
      <h1 class="text-2xl font-bold text-white text-outline"><%= t('posts.new.title') %></h1>
    </div>

    <%= render 'form', { post: @post } %>

    </div>
    </div>
</div>
</section>