header, footer {
  width: 100%; /* 横幅を100%に設定 */
  background-color: #bfecff; /* 背景色 */
}

/* 背景 */
body {
  background-image: url('morning_background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


main {
  flex-grow: 1;
}

.content {
  word-wrap: break-word;
  word-break: break-all;
}


.center-content {
  min-height: 100vh; /* Adjust the height based on the viewport */
  width: 100%; /* Adjust the width based on the viewport */
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Ensures the flex items are stacked vertically */
  padding: 1rem; /* Add a little bit of padding to handle very small viewports */
}

.bg-achieved-background-count-color {
  background-color: #d5f0ff;
}



.text-achieved_count-color {
  font-weight: bold;
  text-shadow:
  0 5px 5px  #9bb000,
  1px 1px 1px #b6b002;
}

.text-achieved-gold {
  color: rgb(255, 252, 154);
  font-weight: bold;
  text-shadow:
  0 5px 5px  #524e0b,
  1px 1px 1px #3a3915;
}

.text-achieved-silver {
  color: rgb(255, 248, 248);
  font-weight: bold;
  text-shadow:
  0 5px 5px #5b5b5b,
  1px 1px 1px #4f4f4f;
}

.text-achieved-bronze {
  color: #ffab57;
  font-weight: bold;
  text-shadow:
  0 5px 5px #503318,
  1px 1px 1px #60462d;
}

.bg-primary-color {
  background-color: rgb(254, 255, 245);
}

.bg-secondary-color {
  background-color: rgba(237, 237, 237, 0.83);
}


/* メッセージ入力フォームの幅 */
.text-area-custom-height {
  height: 160px; /* 高さ */

}

/* 投稿物 */
.post-card {
  width: 300px; /* 横幅 */
  border-radius: 20px; /* 角丸 */
  background-color: #ffffff; /* 背景色 */
}

/* 投稿物の枠表示幅 */
.post-content {
  height: 120px;
  overflow-y: auto;
}

.break-word {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}

.twitter-login-button {
  background-color: #1DA1F2;
  color: #FFFFFF;
  border-radius: 8px;
  padding: 16px 35px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  transition: background-color 0.3s;
}

.twitter-login-button:hover {
  background-color: #0c86d1;
}

.twitter-link {
  height: 62px;
  width: 100%; /* 横幅を100%に設定 */
  display: flex;
  align-items: center;
  justify-content: flex-end; /* 右寄せにする */
}

.twitter-button {
  background-color: #1DA1F2;
  color: #FFFFFF;
  border-radius: 8px;
  padding: 8px 16px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  transition: background-color 0.3s;
}

.twitter-button:hover {
  background-color: #0c86d1;
}

.drawer-button {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 999;
}

.drawer-toggle {
  display: none;
}

.drawer-toggle:checked ~ aside {
  transform: translateX(0);
}

aside {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  background-color: #e0fcff;
  transform: translateX(100%);
  transition: transform 0.3s ease;
}

.hide-desktop {
  display: none;
}

@media (max-width: 640px) {
  .hide-desktop {
    display: inline-block;
  }
}

/* 全体のページネーションをフレックスボックスとして扱い、折り返しを許可します */
.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* アイテムを中央に寄せます */
}

/* 各ページネーションアイテムにマージンを追加し、それらが適切にスペースを持つようにします */
.pagination-item {
  margin: 0.5em;
}

#modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fade-in {
  animation: fadeIn 0.8s ease-in-out;
  animation-fill-mode: forwards;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.rounded-corners {
  border-radius: 15px;
}

.text-outline {
  text-shadow:
  0 5px 5px #4F46E5,
  1px 1px 1px #4F46E5;
}